    /* Secondary content styles */
    @media screen and (max-width: 1012px) {
        .secondary-section {
            display: block;
        }
    }

    .secondary-section .g {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 0px;
        max-width: 1280px;
    }

    .secondary-section .g .section {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: normal;
        /* Padding around the section */
        padding: 0px 0px 0px;
    }

    .secondary-section .g .section.follow {
        padding-top: 0px;
    }


    .secondary-section .g .section .component-wrapper {
        display: flex;
        -moz-box-align: center;
        align-items: center;
    }

    @media screen and (max-width: 1012px) {
        .secondary-section .g .section .component-wrapper {
            display: block;
        }
    }

    .secondary-section .g .section .component-wrapper h3 {
        color: rgb(38, 38, 38);
        font-size: 36px;
        font-weight: 700;
        line-height: 46px;
        letter-spacing: normal;
        margin-bottom: 12px;
    }

    .secondary-section .g .section .component-wrapper h4 {
        color: rgb(38, 38, 38);
    }

    .secondary-section .g .section .component-wrapper p {
        color: rgb(92, 92, 92);
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: normal;
        margin-bottom: 16px;
    }


    .secondary-section .g .section .component-wrapper .responsive-grid {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        /* Gap between cards */
        gap: 1rem;
    }

    @media screen and (min-width: 64rem) {
        .secondary-section .g .section .component-wrapper .responsive-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .secondary-section .g .section .component-wrapper .responsive-grid a.card-wrapper {
        text-decoration: none;
        transition: none;
        background: none;
        padding: 0;
        flex-direction: column;
    }

    .secondary-section .g .section .component-wrapper .responsive-grid .card {
        position: relative;
        background-color: #fff none repeat scroll 0% 0%;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        -moz-box-align: center;
        align-items: normal;
        height: 100%;
        -moz-box-pack: start;
        justify-content: flex-start;
        box-shadow: rgba(0, 0, 0, 0.09) 0.3125rem 0.3125rem 0px -0.0625rem, rgba(0, 0, 0, 0.15) 0px 0.25rem 0.5rem 0px;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    }


    .secondary-section .g .section .component-wrapper .responsive-grid .card .card-body {
        position: relative;
        display: flex;
        flex-direction: row;
        -moz-box-align: center;
        align-items: center;
        height: 100%;
        -moz-box-pack: start;
        justify-content: flex-start;
    }

    .secondary-section .g .section .component-wrapper .responsive-grid .card:hover {
        box-shadow: rgba(0, 0, 0, 0.2) 0.3125rem 0.3125rem 0px -0.0625rem, rgba(0, 0, 0, 0.26) 0px 0.25rem 0.5rem 0px;
    }

    @media screen and (min-width: 75rem) {
        .secondary-section .g .section .component-wrapper .responsive-grid .card {
            padding: 2rem 2.5rem;
        }
    }

    @media screen and (min-width: 36rem) {
        .secondary-section .g .section .component-wrapper .responsive-grid .card {
            padding: 1rem 1.5rem;
        }
    }

    .secondary-section .g .section .component-wrapper .responsive-grid .card .card-tags {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0.3rem;
    }

    .secondary-section .g .section .component-wrapper .responsive-grid .card .card-tags .tag {
        background-color: #f6f6f6;
        color: #333;
        font-size: 0.55rem;
        font-weight: bold;
        margin-right: 0.5rem;
        padding: 0rem 0.55rem;
        border-radius: 4px;
    }

    .secondary-section .g .section .component-wrapper .responsive-grid .card .card-body .logo {
        margin-right: 0.75rem;
        width: 1.2rem;
        min-width: 1.2rem;
    }

    .secondary-section .g .section .component-wrapper .responsive-grid .card .card-body .cover {
        margin-right: 0.5rem;
        width: 4rem;
        min-width: 4rem;
    }

    .secondary-section .g .section .component-wrapper .responsive-grid .card .card-body .card-content {
        display: flex;
        flex: 1 1 0%;
        flex-direction: column;
        width: 100%;
    }

    .secondary-section .g .section .component-wrapper .responsive-grid .card .card-body .card-content h5 {
        margin: 0;
    }

    .secondary-section .g .section .component-wrapper .responsive-grid .card .card-body .card-content p {
        margin-top: 0.25em;
        margin-bottom: 0;
        font-size: 0.65rem;
        font-weight: 300;
        line-height: normal;
    }

    .secondary-section .g .section .component-wrapper .responsive-grid .card .card-body .card-content code {
        background: rgba(0, 0, 0, 0.05) none repeat scroll 0% 0%;
        padding: 2px 6px;
        border-radius: 4px;
    }


    .component-wrapper span.em {
        color: rgb(61, 61, 61);
    }

    .component-wrapper a {
        transition: color 125ms;
        background: rgba(0, 0, 0, 0.05) none repeat scroll 0% 0%;
        padding: 2px 6px;
        margin: 0px 1px;
        border-radius: 4px;
        display: inline;
        cursor: pointer;
        font-weight: 600;
    }

    /* Theme light/dark colors (slate = dark) */
    [data-md-color-scheme="slate"] .component-wrapper a {
        /* color of the card icon dark theme */
        color: rgb(228, 228, 228);
    }

    [data-md-color-scheme="default"] .component-wrapper a {
        /* color of the card icon light theme */
        color: rgb(61, 61, 61);
    }

    [data-md-color-scheme="slate"] .secondary-section .g .section .component-wrapper .responsive-grid .card .card-tags .tag {
        /* color of the card title dark theme */
        color: rgb(18, 23, 44);
        background-color: #b2b2b2;
    }

    [data-md-color-scheme="slate"] .secondary-section .g .section .component-wrapper .responsive-grid .card .card-body .card-content h5 {
        /* color of the card title dark theme */
        color: rgb(228, 228, 228);
    }

    [data-md-color-scheme="default"] .secondary-section .g .section .component-wrapper .responsive-grid .card .card-body .card-content h5 {
        /* color of the card title light theme */
        color: rgb(61, 61, 61);
    }

    [data-md-color-scheme="slate"] .secondary-section .g .section .component-wrapper .responsive-grid .card .card-body .card-content p {
        /* color of the subtext in the cards dark theme */
        color: rgb(228, 228, 228);
    }

    [data-md-color-scheme="default"] .secondary-section .g .section .component-wrapper .responsive-grid .card .card-body .card-content p {
        /* color of the subtext in the cards light theme */
        color: rgb(92, 92, 92);
    }

    .component-wrapper a:hover {
        /* color of the card icon when hoovering */
        color: var(--md-typeset-a-color);
        background: var(--md-accent-fg-color--transparent);
    }